<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
      Blog Title#{' - ' + current_article.title unless current_article.nil?}
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    = stylesheet_link_tag "all"
    = javascript_include_tag "all"
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/js/tether.js"}
  %body
    = partial "shared/_nav"
    .container
      .col-xs-12.col-md-8
        = yield
      .col-xs-12.col-md-4
        = partial "shared/right_column"
    = partial "shared/_footer"
